.column__left {
    background: #F2C4A3;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
}
.column__right {
    height: 100vh;
    overflow-y: scroll;
}
.fadeInAnimation {
    animation: fadeIn 1s ease-in forwards;
}
@keyframes fadeIn {
    from {
        /*opacity: 0;*/
    }
    to {
        /*opacity: 100%;*/
    }
}
.moveFromTop {
    animation: moveFromTop 1.5s ease-out forwards;
}
@keyframes moveFromTop {
    0% {
        /*opacity: 0;*/
        transform: translateY(-500px);
    }
    70% {
        /*opacity: 0;*/
    }
    100% {
        /*opacity: 100%;*/
        transform: translateY(-0px);
    }
}
.moveFromTop {
    animation: moveFromTop 1.5s ease-out forwards;
}
.leafs {
     animation: leafs 10s ease-out infinite;
 }
@keyframes leafs {
    0% {
        transform: skew(0deg, 0deg);
    }
    50% {
        transform: skew(5deg, 2deg);
    }
    100% {
        transform: skew(0deg, 0deg);
    }
}
@media screen and (max-width: 425px) {
    .column__right {
        background: #FBF8F5;
    }
}