.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.flex50{
  flex: 0.5;
}
@media screen and (max-width: 425px) {
  .flex50{
    flex: 1;
  }
}
@font-face {
  font-family: 'wigrum';
  src: url('./assets/fonts/wigrum-black.woff');
}
@font-face {
  font-family: 'wigrum-medium';
  src: url('./assets/fonts/wigrum-medium.woff');
}
@font-face {
  font-family: 'wigrum-regular';
  src: url('./assets/fonts/wigrum.woff');
}
h2 {
  font-family: 'wigrum-regular';
  text-align: center;
  font-size: 32px;
}
h4 {
  font-family: 'wigrum';
  text-align: center;
  margin-bottom: 0px;
  font-size: 10px;
  text-transform: uppercase;
  font-width: 500;
}
.heading3{
  font-family: 'wigrum-medium';
  font-size: 22px;
  color: black;
  margin-bottom: 16px;
}
.sub-heading{
  font-size: 14px;
  margin-bottom: 20px;
}